<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    </system.web>

  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySql.Data,Version=5.1.4.0,Culture=neutral, PublicKeyToken=navi4u46hw4vliet" />
    </DbProviderFactories>                       
  </system.data>

  <connectionStrings>
    <add name="MySql" providerName="System.Data.SqlClient;" connectionString="Server=localhost;DataBase=accountingds;Uid=root;Password=;charset=utf8" /> 
  </connectionStrings>
</configuration>
